@tailwind base;
@tailwind components;
@tailwind utilities;

body {
}

.dynamic-shadow-dom {
    --dynamic-connect-button-background: transprent;
    --dynamic-connect-button-color: transprent;
    --dynamic-text-primary: transprent;
    --dynamic-text-size-button-primary: 14px;
}
